{% extends 'frontend/common/base.html.twig' %}

{% block title %}Sig in{% endblock %}

{% block body %}
    {% embed "common/common/partials/_jumbotron.html.twig" %}
        {% block subtitle %}
            <h2>You are here: Sign in Form</h2>
        {% endblock subtitle %}
    {% endembed %}

    {{ include('common/common/partials/_flash.html.twig') }}
    <form method="post" action="{{ path('app_sign_in') }}">
        <div class="container contact">
            <div class="col-xs">
                <p>Demo admin user/pass: admin@admin.admin/admin
            </div>
            <div class="col-xs">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <div class="form-group d-flex">

                    <div class="mr-auto">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input class="btn btn-lg btn-primary" type="submit" value="Sign in"></input>
                    </div>
                    <div class="ml-auto mt-2">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_sign_out') }}">Logout</a>
                            </div>
                        {% endif %}
                        <a href="{{ path('app_request_reset_password') }}">Forgot password?</a> | <a href="{{ path('app_register') }}">New User? Register!</a>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
