{% extends 'frontend/common/base.html.twig' %}

{% block title %}Request reset password{% endblock %}

{% block body %}
    {% embed "common/common/partials/_jumbotron.html.twig" %}
        {% block subtitle %}
            <h2>You are here: Request reset password</h2>
        {% endblock subtitle %}
    {% endembed %}
    {{ include('common/common/partials/_flash.html.twig') }}

    {{ form_start(requestForm) }}
    <div class="container contact">
        <div class="col-xs mt-4">
            <div class="form-group">
                {{ form_label(requestForm.email) }}
                {{ form_widget(requestForm.email, {'attr': {'class': 'ml-2'}}) }}
            </div>
            <button class="btn btn-primary">Send password reset email</button>
            <hr>
            <small>Enter your email address and we will send you a link to reset your password.</small>
        </div>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
