<div id="loader-wrapper">
    <div id="loader-background"></div>
    <div id="loader-spin"></div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-inverse rounded">
    <a class="navbar-brand" href="{{ url('home_page') }}">Curso Testing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ url('contact_form') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_register') }}">Registration</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_logout') }}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('app_sign_in') }}">Log In</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="javascript:alert('todo!');">Category </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:alert('todo!');">Product</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
